@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: $background-color;
  color: $font-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.dashboard {
  display: flex;
  height: 100vh;
  padding: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  margin-right: 2rem;
  gap: 20px;

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    .userDetails {
      display: flex;
      flex-direction: column;

      span {
        font-size: 12px;
        opacity: .7;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    svg {
      width: 16px;
    }

    .header {
      display: flex;
      justify-content: space-between;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      cursor: pointer;

      p {
        font-weight: bold;
      }

      svg {
        transition: .3s;

        &.closed {
          rotate: -180deg;
        }
      }
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 500px;

      list-style-type: none;
      transition: .3s;

      &.hidden {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        height: 0;
      }

      li {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;

        border-radius: 5px;

        transition: .3s;


        &.active {
          background: $accent-color-secondary;
          color: $accent-color;
        }

        &:hover {
          opacity: .7;
        }

        svg {
          margin-right: 7px;
        }
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  border-radius: 15px;

  background: $background-color-secondary;
}

button {
  padding: .5rem 1rem;
  background: $accent-color-secondary;
  color: $accent-color;
  max-height: 50px;
  border-radius: 5px;

  cursor: pointer;
  border: none;
  outline: none;
}

input {
  padding: .5rem;
}

.loginContainerr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  border-radius: 15px;
  background: $background-color-secondary;

  button {
    background: $background-color-secondary;
    color: inherit;
    margin-top: 15px;
    width: 100%;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  border-radius: 5px;

  background: $background-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  aspect-ratio: 1/1;


  svg {
    font-size: 48px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding: 2rem;
  width: 400px;

  background: $background-color;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transition: .3s;
  pointer-events: none;
  opacity: 0;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  backdrop-filter: blur(2px);
}

.membersList {
  display: flex;
  align-items: center;

  overflow-x: scroll;

  img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid transparent;

    cursor: pointer;
    transition: .3s;
  }

  input {
    display: none;
  }

  input:checked~label img {
    border-color: $accent-color;
  }
}

.prioritiesList {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;

  label {
    padding: 5px 10px;
    background: $background-color-secondary;
    border: 1px solid $font-color;
    border-radius: 5px;
    color: $font-color;
    transition: .3s;
  }

  input {
    display: none;
  }

  input:checked~label {
    border-color: transparent;
  }

  input#priorityLOW:checked~label {
    background: $priorityLow;
  }

  input#priorityMEDIUM:checked~label {
    background: $priorityMedium;
  }

  input#priorityHIGH:checked~label {
    background: $priorityHigh;
  }

  input#priorityURGENT:checked~label {
    background: $priorityUrgent;
  }
}

.projectsList {
  display: flex;
  gap: 20px;
}

.projectNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  margin-top: 20px;


  .navElement {
    display: flex;


    label {
      padding: .5rem 1rem;
      border-radius: 5px;
      background: $background-color;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    input {
      display: none;

      &:checked~label {
        background: $accent-color-secondary;
        color: $accent-color;
      }
    }
  }
}

.projectElementContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.todoContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  // height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.col {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  // height: 100%;
  box-sizing: border-box;

}

.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  max-height: 600px;
}

.newTaskButton {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  aspect-ratio: 1/1;
  scale: 1.3;

  svg {
    font-size: 22px;
  }
}

.taskCard {
  position: relative;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  margin-top: 10px;

  background: $background-color;
  cursor: move;


  .indicator {
    width: 5px !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    &.LOW {
      background: $priorityLow;
    }

    &.MEDIUM {
      background: $priorityMedium;
    }

    &.HIGH {
      background: $priorityHigh;
    }

    &.URGENT {
      background: $priorityUrgent;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    p {
      font-size: 18px;
      font-weight: 500;
    }

    span {
      opacity: .7;
    }

    span.dueTime {
      font-size: 14px;
      margin-top: 5px;
    }

    .assignedMembers {
      display: flex;
      gap: 10px;
      margin-top: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}

.contextMenu {
  position: fixed;
  z-index: 998;
  display: flex;
  gap: 5px;
  flex-direction: column;

  background: $background-color-secondary;
  border: 1px solid $font-color;
  border-radius: 5px;
  cursor: pointer;

  ol.contextMenuList {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style-type: none;

    li {
      position: relative;
      padding: 5px 10px;
      transition: .3s;

      &:hover {
        background: $accent-color-secondary;
        color: $accent-color;

        ol {
          display: flex;
        }
      }

      &.delete:hover {
        background: $priorityUrgent;
        color: $font-color;
      }

      svg {
        font-size: 14px;
      }

      ol {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        flex-direction: column;
        gap: 5px;

        background: $background-color-secondary;
        border: 1px solid $font-color;
        color: $font-color;
        border-radius: 0 5px 5px 5px;
        list-style-type: none;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}