@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $background-color;
  color: $font-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.dashboard {
  display: flex;
  height: 100vh;
  padding: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  margin-right: 2rem;
  gap: 20px;

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    .userDetails {
      display: flex;
      flex-direction: column;

      span {
        font-size: 12px;
        opacity: .7;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    svg {
      width: 16px;
    }

    .header {
      display: flex;
      justify-content: space-between;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      cursor: pointer;

      p {
        font-weight: bold;
      }

      svg {
        transition: .3s;

        &.closed {
          rotate: -180deg;
        }
      }
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 500px;

      list-style-type: none;
      transition: .3s;

      &.hidden {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        height: 0;
      }

      li {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;

        border-radius: 5px;

        transition: .3s;


        &.active {
          background: $accent-color-secondary;
          color: $accent-color;
        }

        &:hover {
          opacity: .7;
        }

        svg {
          margin-right: 7px;
        }
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  border-radius: 15px;

  background: $background-color-secondary;
}

button {
  padding: .5rem 1rem;
  background: $accent-color-secondary;
  color: $accent-color;
  max-height: 50px;
  border-radius: 5px;

  cursor: pointer;
  border: none;
  outline: none;
}

input {
  padding: .5rem 2rem;
}

.loginContainerr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  border-radius: 15px;
  background: $background-color-secondary;

  button {
    background: $background-color-secondary;
    color: inherit;
    margin-top: 15px;
    width: 100%;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  border-radius: 5px;

  background: $background-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  aspect-ratio: 1/1;


  svg {
    font-size: 48px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding: 2rem;

  background: $background-color;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  backdrop-filter: blur(2px);
}