$background-color: linear-gradient(120deg, rgba(243, 246, 248, 1) 0%, rgba(241, 245, 230, 1) 100%);
;
$card-color: #f8f9f973;
$secondary-card-color: #D9D9D9;
$background-color-secondary: #fffefe;

$primary-font-color: #141515;
$secondary-font-color: #141515b3;
$teritiary-font-color: #14151566;
$primary-light-font-color: #F8F9F9;
$secondary-light-font-color: #f8f9f9b3;


$accent-color: #8BC858;
$secondary-accent-color: #E3E3E3;

$success-color: #74D048;
$warning-color: #FFCC00;
$high-color: #FFA500;
$error-color: #FF4D4D;


$priorityLow: #6abf69;
$priorityMedium: #f3cc5a;
$priorityHigh: #ff8c42;
$priorityUrgent: #ff5e5b;