$background: rgba(243, 246, 248, 1);
$background-color: linear-gradient(120deg, rgba(243, 246, 248, 1) 0%, rgba(241, 245, 230, 1) 100%);
;
$card-color: #f8f9f973;
$secondary-card-color: #D9D9D9;
$background-color-secondary: #fffefe;

$primary-font-color: #141515;
$secondary-font-color: #141515b3;
$tertiary-font-color: #14151566;
$primary-light-font-color: #F8F9F9;
$secondary-light-font-color: #f8f9f9b3;


$accent-color: #8BC858;
$secondary-accent-color: #E3E3E3;
$border-color: #1415151a;

$success-color: #74D048;
$warning-color: #FFCC00;
$high-color: #FFA500;
$error-color: #FF4D4D;
$error-color-transparent: #ff4d4d33;
$warning-color-transparent: #FFCC0033;
$high-color-transparent: #FFA50033;
$success-color-transparent: #74D04833;
$shimmer-gradient-light: linear-gradient(100deg,
                rgba(220, 224, 230, 0.4) 20%,
                rgba(250, 250, 250, 0.7) 50%,
                rgba(220, 224, 230, 0.4) 80%);



$dark-background: #1C1C1C;
$dark-background-color: linear-gradient(120deg, #1C1C1C 0%, #1C1C1C 100%);
$dark-card-color: #2a2a2a73;
$dark-secondary-card-color: #D9D9D9;
$dark-background-color-secondary: #fffefe;

$dark-primary-font-color: #FFFFFF;
$dark-secondary-font-color: #FFFFFFb3;
$dark-tertiary-font-color: #ffffff66;
$dark-primary-light-font-color: #141515;
$dark-secondary-light-font-color: #141515b3;

$dark-accent-color: #6DA34D;
$dark-secondary-accent-color: rgb(20, 21, 21, .9);
$dark-border-color: #ffffff1a;

$dark-success-color: #4A9833;
$dark-warning-color: #FFBB33;
$dark-high-color: #FF8800;
$dark-error-color: #D63C3C;
$dark-error-color-transparent: #D63C3C33;
$dark-warning-color-transparent: #FFBB3333;
$dark-high-color-transparent: #FF880033;
$dark-success-color-transparent: #4A983333;
$shimmer-gradient-dark: linear-gradient(100deg,
                rgba(60, 60, 60, 0.4) 20%,
                rgba(100, 100, 100, 0.6) 50%,
                rgba(60, 60, 60, 0.4) 80%);